
body {
  font-family: 'Roboto', sans-serif;
  background: linear-gradient(to right, #5b5eb8, #7a7dcf);
  color: #fff;
  margin: 0;
  padding: 0;
  transition: background 0.5s ease-in-out;
}


body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(135deg, #4a4da3, #5b5eb8);
  z-index: -1;
  opacity: 0.85;
}


.container {
  max-width: 400px;
  margin: 80px auto;
  background-color: #7a7dcf;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(123, 108, 210, 0.5);
  transition: transform 0.3s ease;
  color: #7a7dcf;   

}

.container:hover {
  transform: translateY(-5px);
}


.container h2 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 26px;
  color: #2d225e; 
}


input[type="text"],
input[type="email"],
input[type="tel"],
input[type="password"] {
  width: 100%;
  padding: 12px 15px;
  margin: 10px 0;
  border: 1px solid #5b5eb8;
  border-radius: 6px;
  font-size: 16px;
  background-color:  0 0 10px rgba(180, 182, 240, 0.7);
  color: #2d225e; 
  transition: 0.4s;
}

input:focus {
  border-color: #b4b6f0;
  box-shadow: 0 0 10px rgba(180, 182, 240, 0.7);
  outline: none;
}

/* الأزرار */
button {
  width: 100%;
  padding: 12px;
  background-color: #7a7dcf;
  color: #2d225e; 
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

button:hover {
  background-color: #7a7dcf;
  transform: scale(1.03);
}


.tabs {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.tabs button {
  background-color: #b4b6f0;
  color: #2d225e; /* ←  */
  border: none;
  border-radius: 6px;
  padding: 10px;
  cursor: pointer;
  transition: 0.3s;
}

.tabs button:hover {
  background-color: #b4b6f0;
}

/* Placeholder */
input::placeholder {
  color: #999999;
  opacity: 1;
  font-style: normal;
}

input:focus::placeholder {
  opacity: 0.3;
}

input:focus::placeholder {
  color: rgba(180, 182, 240, 0.7); 
  opacity: 0; 
}



  